
@model Project.ENTİTİES.Models.Employee
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}



<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<h1>Yönetim Paneline Hoşgeldiniz...</h1>
<div class="container">
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol terques">
                <i class="icon-money"></i>
            </div>
            <div class="value">
               <h1 class="count"> 12 </h1>
                <p>Avans Sayısı</p>
            </div>
        </section>
    </div>


    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol terques">
                <i class="icon-user"></i>
            </div>
            <div class="value">
                <h1 class="count">122 </h1>
                <p>Çalışan Sayısı</p>
            </div>
        </section>
    </div>

    

</div>


