
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}



<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<h1>Yönetim Paneline Hoşgeldiniz...</h1>
<h3>
    Yapacağınız işlemi Menüden Seçiniz
</h3>




