@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Caferağa, Mühürdar Cd. No:76,<br />
    34710 Kadıköy/İstanbul<br />
    <abbr title="Phone"> P : </abbr>
   +90 (216) 347 21 21
</address>

<address>
    <strong>Bilgi:</strong>   <a href="mailto:Support@example.com">info@bilgeadam.com</a><br />
    
</address>